<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACadSvgStudio.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ACadSvgStudio.Settings>
            <setting name="BackgroundColor" serializeAs="String">
                <value>33, 40, 48</value>
            </setting>
            <setting name="ScalesSvg" serializeAs="String">
                <value />
            </setting>
            <setting name="ScalesEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CSSPreview" serializeAs="String">
                <value />
            </setting>
            <setting name="CSSPreviewEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StrokeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StrokeWidth" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="FillColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="TransformTranslationX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TransformTranslationY" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TransformScaleX" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TransformScaleY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TransformRotation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="StrokeColorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FillColorEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="WindowPositionInitialized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitContainer1Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SplitContainer2Distance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ViewPropertyGrid" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReverseY" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StrokeWidthEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EditorFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="ExportHandleAsID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportLayerAsClass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportObjectTypeAsClass" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultLineweight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="CreateScaleFromModelSpaceExtent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateViewboxFromModelSpaceExtent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LineweightScaleFactor" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FilterMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GroupFilterRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="CreateExtraGroupForFreeElements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupInserts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateDebugElements" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ResolveDefs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoCadDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SvgDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="CommandBatchDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchACadLoadBaseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BatchSvgExportBaseDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="SvgViewerDebugEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefsSvg" serializeAs="String">
                <value />
            </setting>
        </ACadSvgStudio.Settings>
    </userSettings>
</configuration>